Source: ros-kilted-gstreamer-ros-babel-fish
Section: misc
Priority: optional
Maintainer: Stefan Fabian <gstreamer_ros_babel_fish@stefanfabian.com>
Build-Depends: debhelper (>= 9.0.0), libgstreamer-plugins-base1.0-dev, libgstreamer1.0-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-rclcpp, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-gstreamer-ros-babel-fish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gir1.2-gst-plugins-base-1.0, gir1.2-gstreamer-1.0, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-tools, libgstreamer-plugins-base1.0-0, libgstreamer-plugins-good1.0-0, libgstreamer1.0-0, ros-kilted-rclcpp, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: GStreamer elements for bidirectional ROS 2 image streaming
